* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

form {
  max-width: 760px;
  margin: auto;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.results {
  display: inline-block;
  margin: 0 30px;
  padding: 5px 10px;
  font-weight: bold;
  font-family: Courier, monospace;
  background-color: #e4e4e4;
}

.main {
  display: flex;
}

.side-bar {
  flex: 1;
  margin: 5px;
  border-right: 1px solid #dadada;
}

.calculator {
  flex: 5;
}